body {
margin: 0;
font-family:  'Roboto', sans-serif;
background-color: rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after  {
   box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;

}
.header{
  box-sizing: border-box;
  background-color: white;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link{
  display: inline-block;
  font-size: 20px;
  font-weight: 700px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 50px;
  transition: color .2s;
}
.nav__link:first-child{
  margin-left: 0;
}
.nav__link:hover {
  color: rgb(75, 165, 85);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.header__logo{
  cursor: pointer;
  transition: 0.2s;
}

.header__inner2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map{
padding-left: 30px;

}
.text{

  padding-left: 30px;

  width: 100%;

}
.branch{
  margin-right: 300px;
  padding-bottom: 50px;
  background: white;
  border-radius: 15px;
  font-size: 20px;
  transition: 0.5s;
}
.branch:hover{
  border: 1px solid;
  background: rgba(75, 165, 85, 0.5);
}
.contacts{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 70%;
  background-color: white;
  border-radius: 15px;
    border: 3px solid rgb(75, 165, 85);
    margin-top: 30px;
}

.text{
  margin: 5px;

    align-items: center;
    justify-content: space-between;
display: inline-block;
  }
.mail form{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
background: transparent;
gap: 50px;
}
.mail h1{
  text-align: center;

}
.mail{

  border: 3px solid rgb(75, 165, 85);
  border-radius: 15px;
  background-color: white;
  width: 100%;
  margin-top: 50px;

}
.mail button{
border: none;
width: 150px;
height: 50px;
margin-bottom: 20px;
border-radius: 15px;
transition: 0.3s;
}
.mail button:hover{
  background-color: rgba(75, 165, 85, 0.8);
  color: white;
}
.mail input{
  width: 200px;
  height: 30px;
}
.mail textarea{
  width: 90%;
  height: 100px;
}
/*===footer===*/

.footer{
  margin-top: 30px;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.1);

}
.socials {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.social__item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 150px;
  margin-right: 25px;
  opacity: 0.5;
    transition: 1s;
}



.footer__nav{
  text-align: center;
  margin-top: 30px;
  opacity: 0.7;
}
.social__item:hover,
.social__item:focus{
-webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
          opacity: 1;
